#!KAMAILIO

debug=2
log_stderror=yes
fork=yes
children=4
listen=udp:0.0.0.0:5060
dns=yes
rev_dns=no

#!define FREESWITCH_IP "freeswitch"
#!define FREESWITCH_PORT "5060"

loadmodule "tm.so"
loadmodule "sl.so"
loadmodule "rr.so"
loadmodule "pv.so"
loadmodule "maxfwd.so"
loadmodule "textops.so"
loadmodule "siputils.so"
loadmodule "xlog.so"

request_route {
    xlog("L_INFO", "Received $rm from $si:$sp\n");

    $du = "sip:" + FREESWITCH_IP + ":" + FREESWITCH_PORT;
    xlog("L_INFO", "Relaying to $du\n");

    if (!t_relay()) {
        xlog("L_ERR", "t_relay FAILED\n");
        sl_send_reply("500", "Internal Error");
    } else {
        xlog("L_INFO", "t_relay call returned success\n");
    }
}